# gadget.dev settings
registry=https://registry.npmjs.org/
@gadget-client:registry=https://registry.gadget.dev/npm

recursive-install = true
prefer-workspace-packages = true
link-workspace-packages = deep
shamefully-hoist = true
node-linker = hoisted